{% extends "base.html" %}

{% block title %}
About | EasyBus Pro
{% endblock %}

{% block content %}

<section class="results-page">

    <div class="results-container">

        <div class="results-header">
            <div>
                <span class="results-label">ABOUT US</span>
                <h1>Welcome to EasyBus Pro</h1>
            </div>
        </div>

        <div class="result-bus-card">

            <h2>Who We Are</h2>

            <p>
                EasyBus Pro is a bus ticket booking system developed using
                Flask, SQLite3, HTML, CSS, and Jinja Templates.
            </p>

            <br>

            <h2>Our Features</h2>

            <ul>
                <li>✔ User Registration & Login</li>
                <li>✔ Search Available Buses</li>
                <li>✔ Seat Selection</li>
                <li>✔ Secure Booking</li>
                <li>✔ Online Payment</li>
                <li>✔ My Bookings</li>
            </ul>

        </div>

    </div>

</section>

{% endblock %}