{% extends "base.html" %}

{% block title %}
Contact | EasyBus Pro
{% endblock %}

{% block content %}

<section class="results-page">

    <div class="results-container">

        <div class="results-header">
            <div>
                <span class="results-label">CONTACT US</span>
                <h1>We're Here to Help</h1>
            </div>
        </div>

        <div class="result-bus-card">

            <p><strong>Email:</strong> support@easybuspro.com</p>

            <p><strong>Phone:</strong> +91 98765 43210</p>

            <p><strong>Address:</strong> Hyderabad, Telangana, India</p>

            <br>

            <p>
                Thank you for choosing EasyBus Pro.
                Feel free to contact us for any booking-related assistance.
            </p>

        </div>

    </div>

</section>

{% endblock %}